<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>burij.de</title>
    <link rel="stylesheet" href="https://home.burij.de/pico.blue.min.css">
    <link rel="stylesheet" href="https://home.burij.de/overlays.css">
    <script src="https://home.burij.de/htmx.min.js"></script>
  </head>

  <body><main class="container">

    <h1><a class="logo" href="http://burij.de" onclick="location.reload();">
        burij.de</a></h1>

    <div id="anker"></div>
    <br><br><article id="content">
      <div><h1><a href="#"
        hx-get="/md/blog"
        hx-target="#content"
        hx-trigger="load"></a></h1></div></div></article>


    <div class="air"></div><small><div class="footnote"></div>
      This website isn’t commercial, and it doesn’t use cookies or analytic
      tools.
      <a href="#"
        hx-get="/md/legal"
        hx-target="#content"
        hx-swap="innerHTML show:#anker:top">
        Click here for more information about the privacy policy.</a></small>

    </main></body>
</html>


