<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>burij.de</title>
    <link rel="stylesheet" href="pico.blue.min.css">
    <link rel="stylesheet" href="overlays.css">
    <script src="htmx.min.js"></script>

    <style>
   
    </style></head>

  <body><main class="container">

    <h1><a hx-push="/"
        class="logo" href="javascript:void(0);" onclick="location.reload();">
        burij.de</a></h1>

    <div id="anker"></div>
    <br><br><article id="content">
    <div class="grid">
      <div><h5 class="terminal">$ display phonenumber</h5>
        <h5 class="phonenumber">
          <a href="tel:+4915737632250">+49(0) 1573 763 22 50</a></h5></div>
      <div><h5 class="copyicon"
        hx-post="/api/copyfeedback"
        hx-trigger="click"
        hx-swap="outerHTML"
        onclick="copy_to_clipboard('+4915737632250')">📋</h5></div></div>
      </article>

    <h1 hx-swap="innerHTML show:#anker:top">
      <a class="menu" href="#"
        hx-get="/md/code"
        hx-target="#content">CODE </a>
      <a class="menu" href="#"
        hx-get="/md/music"
        hx-target="#content">MUSIC </a>
      <a class="menu" href="#"
        hx-get="/md/text"
        hx-target="#content">TEXT </a>
      <a class="menu" href="#"
        hx-get="/md/tools"
        hx-target="#content">TOOLS </a>
      <a class="menu" href="#"
        hx-get="/md/links"
        hx-target="#content">LINKS </a>
    </h1>

    <div class="air"></div><small><div class="footnote"></div>
      This website isn’t commercial, and it doesn’t use cookies or analytic
      tools.
      <a href="#"
        hx-get="/md/legal"
        hx-target="#content"
        hx-swap="innerHTML show:#anker:top">
        Click here for more information about the privacy policy.</a></small>

    </main></body>

    <script>
      async function copy_to_clipboard(text_content) {
        try {
          await navigator.clipboard.writeText(text_content);
        } catch (error_info) { }
      }
    </script>
</html>


